.cart {
    /* display: none; */
    background-color: var(--white);
    position: fixed;
    z-index: 1;
    border-radius: .5rem;
    /* max-height: 350px; */
    width: 100%;
    box-shadow: 0px 0px 15px 26px rgba(0,0,0,0.1);
    transition: all .3s ease;
}

.title {
    padding: 1.5rem;
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 1px #ccc solid;
}

.cart__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    
}

.cart__description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
    margin-right: auto;
    font-size: 1.3rem;
}

.cart__description p {
    margin: 0;
}

.cart__description span,
.cart__description p {
    color: var(--dark-gray-blue);
    
}

.cart__description span:nth-child(3){
    font-weight: 700;
    color: black;
}

.cart__info img {
    max-width: 6rem;
    max-height: 6rem;
    border-radius: .5rem;
}

.delete {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
}

.checkout {
  padding: 1.5rem;
}

.checkout__button {
    width: 100%;
    background: var(--orange);
    border: none;
    padding: 1.2rem;
    border-radius: .5rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1.3rem;
}

.checkout__button:hover {
    opacity: .8;
}

.empty {
    color: var(--dark-gray-blue);
    text-align: center !important;
    font-size: 1.2rem;
    padding: 6rem;
}

@media screen and (min-width: 850px) {
    .cart {
        max-width: 35%;
        right: 5rem;
        top: 7rem;
    }
}