:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --dark-gray-blue: hsl(219, 9%, 45%);
    --gray-blue: hsl(220, 14%, 75%);
    --gray-blue-light: hsl(223, 64%, 98%);
    --white:hsl(0, 0%, 100%);
}

*, *,::after, *::before {box-sizing: border-box;}

html {font-size: 16px;}

body {
    font-family: 'Kumbh Sans', sans-serif;;
}

.container {width: 100%;margin: 0 auto;padding: 0 24px;max-width: 1440px;}


@media screen and (min-width: 850px) {
    html {font-size: 11px;}

    .container {
        padding: 0 4rem;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        padding: 0 8rem;
    }
}